<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Event Handling</title>
</head>
<body>
    
    <div class="container container-py-5" id="app">
        <h1>Vote Your Favorite Framework</h1>
        <ul class="list-group">
            <li v-for="framework in frameworks" class="list-group-item d-flex justify-content-between align-items-center">
                {{ framework.name }}
                <button @click="upvote(framework)" class="btn btn-outline-primary">
                    Upvote
                    <span class="badge badge-primary badge-pill">{{ framework.votes }}</span>
                </button>
            </li>
        </ul>

        <div class="form-group">
            <input @keyup.enter="handleSubmit" @keyup.esc="clearText" v-model="framework" type="text" class="form-control" placeholder="Enter a new framework">
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                frameworks: [
                    {name: "Angular", votes: 0},
                    {name: "React.js", votes: 0},
                    {name: "Vue.js", votes: 0}
                ],
                framework: ''
            },
            methods: {
                upvote(framework) {
                    framework.votes++;
                },
                handleSubmit() {
                    if (this.framework.trim()) {
                        this.frameworks.push({
                            name: this.framework,
                            votes: 0
                        });
                        this.framework = '';
                    } else {
                        alert("You should insert a framework before submiting!");
                    }
                },
                clearText() {
                    this.framework = '';
                }
            }
        })
    </script>
</body>
</html>